<h2>Places You've Been</h2>
<hr>
<p>Enter a place you've been</p>
<form action="/places" method="post">
  <label for="city">City</label>
  <input type="text" name="city" id="city" required>
  <label for="country">Country</label>
  <input type="text" name="country" id="country">
  <button type="submit" class="btn btn-info"></button>
</form>
